.blue-head {
    text-align:center;
    background-color:#549ab8;
}
.orange-body {
    background-color:rgba(255, 166, 0, 0.615);
}
.blue {
    max-width:960px;
    margin:0 auto;
    padding:40px 24px;
    background-color:#549ab8;
}
.small {
    font-size:0.8em;
}

.bold {
    font-weight: bold;
}

.center {
    text-align:center;
}
.reddish-body {
    max-width:960px;
    margin:0 auto;
    padding:40px 24px;
    background-color:rgb(108, 50, 5)
}
.orange {
    max-width:960px;
    margin:0 auto;
    padding:40px 24px;
    background-color:rgb(153, 77, 1);
}
.image-class {
    max-width: 50%;
    display: block;
    margin: 0 auto;
}
.grey {
    max-width:960px;
    margin:0 auto;
    padding:40px 24px;
    background-color:rgb(175, 175, 175);
}
.grey-body {
    max-width:960px;
    margin:0 auto;
    padding:40px 24px;
    background-color:rgb(117, 117, 117)
}
.image-container {
    display: flex;
    justify-content: space-around;
}

.image-container img {
    width: 45%;
    flex-shrink: 0;
    object-fit: cover;
}
.white {
    background-color:rgb(209, 209, 209)
}
